<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Reset Password</title>
    <link rel="stylesheet" href="../../Content/login.css" />
</head>
<body>
    <div class="registerbody"></div>
    <div class="grad"></div>
    <div class="header">
        <div><span>Sun & Star Marketplace</span></div>
    </div>
    <br>
    <div class="register">
        <label>User Reset Password</label><br />
        <label type="text">Username</label><br />
        <input #username type="text" name="username" required /><br />
        <label type="text">Security Question</label><br />
        <select id="question">
            <option>Your Mother's Maiden Name</option>
        </select>
        <br />
        <label type="text">Security Answer</label><br />
        <input #securityAns type="text" name="securityAns" required /><br />
        <button (click)="submit(username.value, securityAns.value)">Submit</button>
        <br/>
        {{clickMessage}}
        <br/>
        {{msg}}
    </div>
</body>
</html>


<modal #modal>
    <form novalidate (ngSubmit)="onSubmit(forgotPasswordFrm)" [formGroup]="forgotPasswordFrm">
        <modal-header [show-close]="true">
            <h4 class="modal-title">Update Your Password</h4>
        </modal-header>
        <modal-body>

            <div class="form-group">
                <div>
                    <span>Please enter your new password:</span>
                    <input #newPassword type="text" class="form-control" placeholder="New Password" formControlName="Password">
                </div>
            </div>
        </modal-body>
        <modal-footer>
            <div>
                <a class="btn btn-default" (click)="modal.dismiss()">Cancel</a>
                <button type="submit" [disabled]="forgotPasswordFrm.invalid" class="btn btn-primary">Submit</button>
            </div>
        </modal-footer>
    </form>
</modal>
